.flex {
    display: flex;
}

.a-item {
    align-items: center;
}

.j-con-center {
    justify-content: center;
}
.d-column {
    flex-direction: column;
} 

.c-purple {
    color: #ee9b00;
}

.c-orange {
    background-color: #ff8500;
}
